* {
    box-sizing: border-box;
}

body {
  min-width: 280px; /* Adjust this value as needed */
}
  
.timeline {
  position: absolute;
  left: 0;
  width: 100vw;
  padding: 0px 10px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
  
.date-container {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

/* The circles on the timeline */
.date-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50%;
  transform: translateX(-12px);
  background-color: white;
  border: 4px solid #FF9F55;
  top: 19px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the bubble to the left */
.left {
  left: 1.5%;
}

/* Place the bubble to the right */
.right {
  left: 53.5%;
}

/* Add arrows to the left bubble (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 23px;
  width: 0;
  z-index: 1;
  right: -10px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f1f1f1;
}

/* Add arrows to the right bubble (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 23px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f1f1f1 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.bubble {
  padding: 10px 10px 10px 10px;
  background-color: #f1f1f1;
  position: relative;
  border-radius: 6px;
  width: 45%; /* Set the width to 50% of the parent container */
}

.collapsible {
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.collapsible-content {
  padding: 0 18px;
  display: none; /* Hidden by default */
  overflow: hidden;
  background-color: #f1f1f1;
  font-size: 18px;
}

.container-header {
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  padding: 0px 10px;
}

@media screen and (max-width: 600px) {
  .timeline .date-container {
    width: 100%;
    float: none;
  }

  .bubble {
    width: 100%;
  }

  .timeline::after {
    display: none; /* Hide the center line */
  }

  .date-container::after {
    display: none; /* Hide the circles */
  }

  .collapsible {
    font-size: 18px;
  }

  .collapsible-content {
    font-size: 10px; 
  }
}

@media screen and (max-width: 300px) {
  .container-header {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}


/* Set initial styling for the element */
.observed-image {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  padding: 0px 10px;
}

/* Add a class to the element to trigger the animation */
.observed-image.show {
  opacity: 1;
}
